.sign-up-session1
  =render "users/sessions-header"
  .sign-up-session1__body
    .sign-up-session1__body__head
      会員情報入力
    .sign-up-session1__body__contents
    = form_for @user, url: session2_signup_index_path, method: :get, html: {class: 'first-main__box'} do |f|
      .sign-up-session1__body__contents__nickname
        .sign-up-session1__body__contents__nickname__title
          ニックネーム
          %span 必須
        .sign-up-session1__body__contents__nickname__form
          = f.text_field :nickname, class: "form nickname-form", placeholder: "例）フリマ太郎"
      .sign-up-session1__body__contents__email
        .sign-up-session1__body__contents__email__title
          メールアドレス
          %span 必須
        .sign-up-session1__body__contents__email__form
          = f.email_field :email, class: "form email-form", placeholder: "PC・携帯どちらでも可"
      .sign-up-session1__body__contents__password
        .sign-up-session1__body__contents__password__title
          パスワード
          %span 必須
        .sign-up-session1__body__contents__password__form
          = f.password_field :password, class: "form password-form", placeholder: "7文字以上の半角英数字"
        .sign-up-session1__body__contents__password__caution
          ※英字と数字の両方を含めて設定してください
      .sign-up-session1__body__contents__confirmation-message
        %h2 本人確認
        %p 安心・安全にご利用いただくために、お客様の本人
        %p 情報の登録にご協力ください。他のお客様に公開さ
        %p れることはありません。
      -# .sign-up-session1__body__contents__robot
      -#   私はロボットではありません
      -#   .sign-up-session1__body__contents__name__title
      -#     お名前（全角）
      -#     %span 必須
      -#   .sign-up-session1__body__contents__name__input
      -#     = f.text_field :name, class: "form family-name-form", placeholder: "例）山田"
      -#     = f.text_field :name, class: "form last-name-form", placeholder: "例）花子"
      -# .sign-up-session1__body__contents__name-kana
        -# .sign-up-session1__body__contents__name-kana__title
        -#   お名前カナ（全角）
        -#   %span 必須
        -# .sign-up-session1__body__contents__name-kana__form 
        -#   = f.text_field :name_kana, class:"form family-name-kana-form", placeholder: "例）ヤマダ"
        -#   = f.text_field :name_kana, class:"form last-name-kana-form", placeholder: "例）ハナコ"
      .sign-up-session1__body__contents__birthday
        .sign-up-session1__body__contents__birthday__title
          生年月日
          %span 必須
        .sign-up-session1__body__contents__birthday__form
          = f.date_field :birthday, class:"form birthday-form", placeholder:"仮置き"
        .sign-up-session1__body__contents__birthday__caution
          %p ※本人情報は正しく記入してください。会員登録後、
          %p 修正するにはお時間をいただく場合があります。

      .sign-up-session1__body__contents__robot
        = flash[:recaptcha_error]
        = recaptcha_tags
      .sign-up-session1__body__contents__confirmation
        『次へ進む』のボタンを押すことにより、
        %span 利用規約
        %p に同意したものとみなします。
        
      .sign-up-session1__body__contents__next
        =f.submit "次へ進む",class: "session1-next" 
          
      .sign-up-session1__body__contents__detail
        本人情報の登録について＞
      .sign-up-session1__body__contents__privacy-policy
        This site is protected by reCAPTCHA and the Google Privacy Policy and Terms of Service apply.
  =render "users/users-footer"
