.main__container__side
  .main__container__side__nav
    %ul
      %li.main__container__side__nav__mypage
        = link_to mypage_index_path(current_user), class:'list' do
          マイページ
        %i.fas.fa-chevron-right
      %li.main__container__side__nav__info
        = link_to '#', class:'list' do
          お知らせ
        %i.fas.fa-chevron-right
      %li.main__container__side__nav__todo
        = link_to '#', class:'list' do
          やることリスト
        %i.fas.fa-chevron-right
      %li.main__container__side__nav__list__good
        = link_to '#', class:'list' do
          いいね！一覧
        %i.fas.fa-chevron-right
      %li.main__container__side__nav__list__sell
        = link_to '#', class:'list' do
          出品する
        %i.fas.fa-chevron-right
      %li.main__container__side__nav__list__exhibiting
        = link_to '#', class:'list' do
          出品した商品-出品中
        %i.fas.fa-chevron-right
      %li.main__container__side__nav__list__trading
        = link_to '#', class:'list'do
          出品した商品-取引中
        %i.fas.fa-chevron-right
      %li.main__container__side__nav__list__sold
        = link_to '#', class:'list' do
          出品した商品-売却済み
        %i.fas.fa-chevron-right
      %li.main__container__side__nav__list__purchased
        = link_to '#', class:'list' do
          購入した商品-取引中
        %i.fas.fa-chevron-right
      %li.main__container__side__nav__list__transaction
        = link_to '#', class:'list' do
          購入した商品-過去の取引
        %i.fas.fa-chevron-right
      %li.main__container__side__nav__list__news
        = link_to '#', class:'list' do
          ニュース一覧
        %i.fas.fa-chevron-right
      %li.main__container__side__nav__list__evaluation
        = link_to '#', class:'list' do
          評価一覧
        %i.fas.fa-chevron-right
      %li.main__container__side__nav__list__guide
        = link_to '#', class:'list' do
          ガイド
        %i.fas.fa-chevron-right
      %li.main__container__side__nav__list__contact
        = link_to '#', class:'list' do
          お問い合わせ
        %i.fas.fa-chevron-right
      .main__container__side__nav__header
        %h3メルペイ
        %ul
          %li.main__container__side__nav__list__balance
            = link_to '#', class:'list' do
              残高・振込申請
            %i.fas.fa-chevron-right
          %li.main__container__side__nav__list__point
            = link_to '#', class:'list' do
              ポイント
            %i.fas.fa-chevron-right
      .main__container__side__nav__header
        %h3設定
        %ul
          %li.main__container__side__nav__list__profile
            = link_to profile_edit_mypage_index_path, class:'list' do
              プロフィール
            %i.fas.fa-chevron-right
          %li.main__container__side__nav__list__change-of-address
            = link_to '#', class:'list' do
              発送元・お届け先住所変更
            %i.fas.fa-chevron-right
          %li.main__container__side__nav__list__payment
            = link_to payment_mypage_index_path, class:'list' do
              支払い方法
            %i.fas.fa-chevron-right
          %li.main__container__side__nav__list__mail
            = link_to '#', class:'list' do
              メール/パスワード
            %i.fas.fa-chevron-right
          %li.main__container__side__nav__list__identity
            = link_to '#', class:'list' do
              本人情報
            %i.fas.fa-chevron-right
          %li.main__container__side__nav__list__tell
            = link_to '#', class:'list' do
              電話番号の確認
            %i.fas.fa-chevron-right
          %li.main__container__side__nav__list__logout
            = link_to logout_mypage_index_path, class:'list' do
              ログアウト
            %i.fas.fa-chevron-right