.header
  .header__search-bar
    .header__search-bar__logo
      -# = link_to root_path do
      = image_tag "fmarket_logo_red.svg"
    .header__search-bar__form
      %input{type: "search", name: "keyword", size: "80", placeholder: "何かお探しですか？"}/
  .header__contents
    .header__contents__search-tags
      .header__contents__search-tags__category.tag
        = link_to '#' do
          ■カテゴリーから探す
      .header__contents__search-tags__brand.tag
        = link_to '#' do
          ■ブランドから探す
    .header__contents__utilities
      %ul
        %li.header__contents__utilities__likes
          = link_to '#' do
            ■いいね！一覧
        %li.header__contents__utilities__notice
          = link_to '#' do
            ■お知らせ
        %li.header__contents__utilities__todo
          = link_to '#' do
            ■やることリスト
        %li.header__contents__utilities__mypage
          = link_to '#' do
            ■マイページ



