.main
  .main__header
    =render "shared/header"
    .breadcrumbs
      - breadcrumb :user
      = breadcrumbs pretext: "",separator: " &rsaquo; ", class: "breadcrumbs-list"
  .main__container
    .main__container__side-bar    
      = render 'users/side_bar'
    .main__container__content
      .main__container__content__user
        .main__container__content__user__erea
          .main__container__content__user__erea__icon
          .main__container__content__user__erea__name
            = @user.nickname  
          .main__container__content__user__erea__count
            .main__container__content__user__erea__count__evaluation
              評価
              %li
                13
            .main__container__content__user__erea__count__sell
              出品数
              %li
                14
      
      %section.main__container__content__index
        %ul.main__container__content__index__tabs
          %li.mypage-tab.is-active
            %h3.bold
              = link_to "", class:"" do
                お知らせ
          %li.mypage-tab
            %h3.bold
              = link_to "", class:"" do
                やることリスト
        %ul.main__container__content__index__text        
          %li.main__container__content__index__text__message.mypage-panel.is-show
            .main__container__content__index__text__message.text
              =image_tag "logo_gray.svg",size: "100x100",class:"img"
              %p 現在、やることリストはありません
          %li.main__container__content__index__text__message.mypage-panel
            .main__container__content__index__text__message.text
              =image_tag "logo_gray.svg",size: "100x100",class:"img"
              %p 現在、お知らせはありません

      %section.main__container__content__index
        .main__container__content__index__header
          購入した商品
        %ul.main__container__content__index__tabs
          %li.mypage-tab2.is-active2
            %h3.bold
              = link_to "", class:"" do
                取引中
          %li.mypage-tab2
            %h3.bold
              = link_to "", class:"" do
                過去の取引
        %ul.main__container__content__index__text        
          %li.main__container__content__index__text__message.mypage-panel2.is-show2
            .main__container__content__index__text__message.text
              =image_tag "logo_gray.svg",size: "100x100",class:"img"
              %p 過去の取引はありません
          %li.main__container__content__index__text__message.mypage-panel2
            .main__container__content__index__text__message.text
              =image_tag "logo_gray.svg",size: "100x100",class:"img"
              %p 取引中の商品がありません
  .main__footer
    = render "shared/footer"