.main
  .main__header
    =render "shared/header"
    .breadcrumbs
      - breadcrumb :payment
      = breadcrumbs pretext: "",separator: " &rsaquo; ", class: "breadcrumbs-list"
  .main__container
    .main__container__left
      = render 'users/side_bar'
    .main__container__right
      .main__container__right__payment
        支払い方法
      .main__container__right__bottom
        .main__container__right__bottom__section
          クレジットカード一覧
        .main__container__right__bottom__card
          %i.far.fa-credit-card
          = link_to '#', class:'card' do
            クレジットカードを追加する
        .main__container__right__bottom__info
          = link_to '#', class:'info' do
            支払い方法について
            %i.fas.fa-chevron-right
  .main__footer
    = render "shared/footer"