-#-----------本人確認ページ----------------------------
.main
  = render "shared/header"
  .breadcrumbs
    - breadcrumb :register
    = breadcrumbs pretext: "",separator: " &rsaquo; ", class: "breadcrumbs-list"
  .main__container
    = render 'users/side_bar' 
    = form_for @address, url: register_edit_mypage_index_path(current_user), method: :patch do |f|
      .main__container__r-container

        .main__container__r-container__header
          本人情報の登録
        .main__container__r-container__register
          .main__container__r-container__register__upload
            %p お客さまの本人情報をご登録ください。
            %p 登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
            = link_to "#", class:"verification" do
              本人確認書類のアッロードについて
              %i.fas.fa-chevron-right

          .main__container__r-container__register__form
            お名前
          .main__container__r-container__register__info
            = @user.first_name
            = @user.last_name
          .main__container__r-container__register__form
            お名前カナ
          .main__container__r-container__register__info
            = @user.first_name_kana
            = @user.last_name_kana
          .main__container__r-container__register__form
            生年月日
          .main__container__r-container__register__info
            = @user.birthday
          .main__container__r-container__register__form

            .main__container__r-container__register__form__place
              郵便番号
            .main__container__r-container__register__form__any
              任意
          .main__container__r-container__register__form__edit
            = f.text_area :postal_code, class:"person"
          .main__container__r-container__register__form
            .main__container__r-container__register__form__place
              都道府県
            .main__container__r-container__register__form__any
              任意
          .main__container__r-container__register__form__p-edit
            %rabel{name:"p-rabel",class:"label"}
              = f.select :prefecture, [["北海道","1"], ["青森県","2"],  ["岩手県","3"], ["宮城県","4"],["秋田県","4"],["山形県","5"],["福島県","6"],["東京都","7"],["神奈川県","8"],["埼玉県","9"],["千葉県","10"],["茨城県","11"],["栃木県","12"],["群馬県","13"],["秋田県","14"],["山梨県","15"],["長野県","16"],["富山県","17"],["石川県","18"],["福井県","19"],["愛知県","20"],["岐阜県","21"],["静岡県","22"],["三重県","23"],["大阪府","24"],["兵庫県","25"],["京都府","26"],["滋賀県","27"],["奈良県","28"],["和歌山県","29"],["鳥取県","30"],["島根県","31"],["岡山県","32"],["広島県","33"],["山口県","34"],["徳島県","35"],["香川県","36"],["愛媛県","37"],["高知県","38"],["福岡県","39"],["佐賀県","40"],["長崎県","41"],["熊本県","42"],["大分県","43"],["宮城県","44"],["秋田県","45"],["鹿児島県","46"],["沖縄県","47"] ],class:"prefecture" 
              %i.fas.fa-chevron-down
          .main__container__r-container__register__form
            .main__container__r-container__register__form__place
              市町村
            .main__container__r-container__register__form__any
              任意
          .main__container__r-container__register__form__edit
            = f.text_area :city, class:"person"
          .main__container__r-container__register__form
            .main__container__r-container__register__form__place
              番地
            .main__container__r-container__register__form__any
              任意
          .main__container__r-container__register__form__edit
            = f.text_area :house_number, class:"person"
          .main__container__r-container__register__form
            .main__container__r-container__register__form__place
              建物名
            .main__container__r-container__register__form__any
              任意
          .main__container__r-container__register__form__edit
            = f.text_area :building, class:"person"
        .main__container__r-container__register__btn
          = f.submit '登録する', class:'register' 
        .main__container__r-container__register__r-info
          = link_to "#", class:"register-info" do
            本人情報の登録について
            %i.fas.fa-chevron-right
  =render "shared/footer"      
