.buy
  .buy__title
  .buy__box
    .buy__box__title
      購入内容の確認
    .buy__box__detail
      .buy__box__detail__image
        = image_tag @product.images.first.image
      .buy__box__detail__title
        = @product.name
        %br/
        ¥
        = @product.price
        (送料込み)
    .buy__box__pay
      .buy__box__pay__price
        .buy__box__pay__price__titile
          支払い金額
        .buy__box__pay__price__yen
          ¥
          = @product.price
      .buy__box__pay__point
        ポイントを使用 (所持ポイント:
        = @user.point
        P)
    .buy__box__address
      .buy__box__address__left
        %p 配送先
        %p 〒ccc-dddd
        %p ************7267
        %br/
        = @user.nickname
      .buy__box__address__right
        %p 変更する
    .buy__box__how
      = link_to confirm_product_path, method: :post do
        .buy__box__how__left
          購入する
