= render 'shared/header'
.products__index
  .products__index__slick
    = image_tag "freemarket_topimage.jpg", alt: "メルカリ", class: "image", height: "390px", width: "100%"
  .products__index__category
    .products__index__category__title
      %h2 人気のカテゴリー
      %ul
        %li レディース
        %li メンズ
        %li 家電・スマホ・カメラ
        %li おもちゃ・ホビー・グッズ
    .products__index__category__contents
      .products__index__category__contents__container
        .products__index__category__contents__container__title
          %h3 レディース新着アイテム
          = link_to '#' do
            %span もっと見る
            = icon('fas', 'angle-right')
        .products__index__category__contents__container__item
          - @products.each do |product|
            .itembox
              .itembox__image
                - product.images.each do |image|
                  = image_tag image.image, size: "168x188", alt: "product"
                .itembox__image__price
                  ¥
                  = product.price
              .itembox__title
                = product.name
      .products__index__category__contents__container
        .products__index__category__contents__container__title
          %h3 メンズ新着アイテム
          = link_to '#' do
            %span もっと見る
            = icon('fas', 'angle-right')
        .products__index__category__contents__container__item
          - @products.each do |product|
            .itembox
              .itembox__image
                - product.images.each do |image|
                  = image_tag image.image, size: "168x188", alt: "product"
                .itembox__image__price
                  ¥
                  = product.price
              .itembox__title
                = product.name
      .products__index__category__contents__container
        .products__index__category__contents__container__title
          %h3 家電・スマホ・カメラ新着アイテム
          = link_to '#' do
            %span もっと見る
            = icon('fas', 'angle-right')
        .products__index__category__contents__container__item
          - @products.each do |product|
            .itembox
              .itembox__image
                - product.images.each do |image|
                  = image_tag image.image, size: "168x188", alt: "product"
                .itembox__image__price
                  ¥
                  = product.price
              .itembox__title
                = product.name
      .products__index__category__contents__container
        .products__index__category__contents__container__title
          %h3 おもちゃ・ホビー・グッズ新着アイテム
          = link_to '#' do
            %span もっと見る
            = icon('fas', 'angle-right')
        .products__index__category__contents__container__item
          - @products.each do |product|
            .itembox
              .itembox__image
                - product.images.each do |image|
                  = image_tag image.image, size: "168x188", alt: "product"
                .itembox__image__price
                  ¥
                  = product.price
              .itembox__title
                = product.name
  .products__index__brand
    .products__index__brand
      .products__index__brand__title
        %h2 人気のブランド
        %ul
          %li レディース
          %li メンズ
          %li 家電・スマホ・カメラ
          %li おもちゃ・ホビー・グッズ
      .products__index__brand__contents
        .products__index__brand__contents__container
          .products__index__brand__contents__container__title
            %h3 シャネル新着アイテム
            = link_to '#' do
              %span もっと見る
              = icon('fas', 'angle-right')
        .products__index__category__contents__container__item
          - @products.each do |product|
            .itembox
              .itembox__image
                - product.images.each do |image|
                  = image_tag image.image, size: "168x188", alt: "product"
                .itembox__image__price
                  ¥
                  = product.price
              .itembox__title
                = product.name
        .products__index__brand__contents__container
          .products__index__brand__contents__container__title
            %h3 ルイヴィトン新着アイテム
            = link_to '#' do
              %span もっと見る
              = icon('fas', 'angle-right')
        .products__index__category__contents__container__item
          - @products.each do |product|
            .itembox
              .itembox__image
                - product.images.each do |image|
                  = image_tag image.image, size: "168x188", alt: "product"
                .itembox__image__price
                  ¥
                  = product.price
              .itembox__title
                = product.name
        .products__index__brand__contents__container
          .products__index__brand__contents__container__title
            %h3 シュプリーム新着アイテム
            = link_to '#' do
              %span もっと見る
              = icon('fas', 'angle-right')
        .products__index__category__contents__container__item
          - @products.each do |product|
            .itembox
              .itembox__image
                - product.images.each do |image|
                  = image_tag image.image, size: "168x188", alt: "product"
                .itembox__image__price
                  ¥
                  = product.price
              .itembox__title
                = product.name
        .products__index__brand__contents__container
          .products__index__brand__contents__container__title
            %h3 ナイキ新着アイテム
            = link_to '#' do
              %span もっと見る
              = icon('fas', 'angle-right')
        .products__index__category__contents__container__item
          - @products.each do |product|
            .itembox
              .itembox__image
                - product.images.each do |image|
                  = image_tag image.image, size: "168x188", alt: "product"
                .itembox__image__price
                  ¥
                  = product.price
              .itembox__title
                = product.name
= render 'shared/footer'

= render "users/payment"

= render "users/logout"

= render "users/profile_edit"
