= render 'shared/header'
.products__index
  .products__index__slick
    %div.slick
      %div
        = image_tag "freemarket_topimage.jpg", alt: "メルカリ", class: "image", height: "390px", width: "100%"
      %div
        = image_tag "nike.jpg", alt: "メルカリ", class: "image", height: "390px", width: "100%"
      %div
        = image_tag "supreme.jpg", alt: "メルカリ", class: "image", height: "390px", width: "100%"
  .products__index__category
    .products__index__category__title
      %h2 人気のカテゴリー
      %ul
        %li レディース
        %li メンズ
        %li 家電・スマホ・カメラ
        %li おもちゃ・ホビー・グッズ
    .products__index__category__contents
      .products__index__category__contents__container
        .products__index__category__contents__container__title
          %h3 レディース新着アイテム
          = link_to '#' do
            %span もっと見る
            = icon('fas', 'angle-right')
        .products__index__category__contents__container__item
          - @ladies_product.each do |ladie|
            = link_to product_path(ladie) do
              .itembox
                .itembox__image
                  = image_tag ladie.images.first.image, size: "168x188", alt: "product"
                  .itembox__image__price
                    ¥
                    = ladie.price
                .itembox__title
                  = ladie.name
      .products__index__category__contents__container
        .products__index__category__contents__container__title
          %h3 メンズ新着アイテム
          = link_to '#' do
            %span もっと見る
            = icon('fas', 'angle-right')
        .products__index__category__contents__container__item
          - @mens_product.each do |men|
            = link_to product_path(men) do
              .itembox
                .itembox__image
                  = image_tag men.images.first.image, size: "168x188", alt: "product"
                  .itembox__image__price
                    ¥
                    = men.price
                .itembox__title
                  = men.name
      .products__index__category__contents__container
        .products__index__category__contents__container__title
          %h3 家電・スマホ・カメラ新着アイテム
          = link_to '#' do
            %span もっと見る
            = icon('fas', 'angle-right')
        .products__index__category__contents__container__item
          - @e_product.each do |e|
            = link_to product_path(e) do
              .itembox
                .itembox__image
                  = image_tag e.images.first.image, size: "168x188", alt: "product"
                  .itembox__image__price
                    ¥
                    = e.price
                .itembox__title
                  = e.name
      .products__index__category__contents__container
        .products__index__category__contents__container__title
          %h3 おもちゃ・ホビー・グッズ新着アイテム
          = link_to '#' do
            %span もっと見る
            = icon('fas', 'angle-right')
        .products__index__category__contents__container__item
          - @hobby_product.each do |hobby|
            = link_to product_path(hobby) do
              .itembox
                .itembox__image
                  = image_tag hobby.images.first.image, size: "168x188", alt: "product"
                  .itembox__image__price
                    ¥
                    = hobby.price
                .itembox__title
                  = hobby.name
  .products__index__brand
    .products__index__brand
      .products__index__brand__title
        %h2 人気のブランド
        %ul
          %li レディース
          %li メンズ
          %li 家電・スマホ・カメラ
          %li おもちゃ・ホビー・グッズ
      .products__index__brand__contents
        .products__index__brand__contents__container
          .products__index__brand__contents__container__title
            %h3 シャネル新着アイテム
            = link_to '#' do
              %span もっと見る
              = icon('fas', 'angle-right')
        .products__index__category__contents__container__item
          - @chanel_product.each do |chanel|
            = link_to product_path(chanel) do
              .itembox
                .itembox__image
                  = image_tag chanel.images.first.image, size: "168x188", alt: "product"
                  .itembox__image__price
                    ¥
                    = chanel.price
                .itembox__title
                  = chanel.name
        .products__index__brand__contents__container
          .products__index__brand__contents__container__title
            %h3 ルイヴィトン新着アイテム
            = link_to '#' do
              %span もっと見る
              = icon('fas', 'angle-right')
        .products__index__category__contents__container__item
          - @louis_product.each do |louis|
            = link_to product_path(louis) do
              .itembox
                .itembox__image
                  = image_tag louis.images.first.image, size: "168x188", alt: "product"
                  .itembox__image__price
                    ¥
                    = louis.price
                .itembox__title
                  = louis.name
        .products__index__brand__contents__container
          .products__index__brand__contents__container__title
            %h3 シュプリーム新着アイテム
            = link_to '#' do
              %span もっと見る
              = icon('fas', 'angle-right')
        .products__index__category__contents__container__item
          - @supreme_product.each do |supreme|
            = link_to product_path(supreme) do
              .itembox
                .itembox__image
                  = image_tag supreme.images.first.image, size: "168x188", alt: "product"
                  .itembox__image__price
                    ¥
                    = supreme.price
                .itembox__title
                  = supreme.name
        .products__index__brand__contents__container
          .products__index__brand__contents__container__title
            %h3 ナイキ新着アイテム
            = link_to '#' do
              %span もっと見る
              = icon('fas', 'angle-right')
        .products__index__category__contents__container__item
          - @nike_product.each do |nike|
            = link_to product_path(nike) do
              .itembox
                .itembox__image
                  = image_tag nike.images.first.image, size: "168x188", alt: "product"
                  .itembox__image__price
                    ¥
                    = nike.price
                .itembox__title
                  = nike.name
= render 'shared/footer'