.products-new
  .products-new__logo
    = image_tag "fmarket_logo_red.svg"
  .products-new__contents
    = form_for @product  do |f|
      .products-new__contents__title.section
        %h2 商品の情報を入力
      .products-new__contents__image.section
        商品画像
        %span 必須
        = f.fields_for :images do |i|
          = i.file_field :image
          %p 最大10枚までアップロードできます
      .products-new__contents__name.section
        商品名
        %span 必須
        = f.text_field :name, placeholder: "商品名（必須40文字まで）"
        商品の説明
        %span 必須
        = f.text_field :content, class: 'text',type: "text", rows: "5", placeholder: "商品の説明（必須1,000文字以内）（色、素材、重さ、定価、注意点など） 例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。合わせやすいのでおすすめです。"
      .products-new__contents__detail.section.flex
        .products-new__contents__detail.left
          %h4 商品の詳細
        .products-new__contents__detail.right
          カテゴリーL
          %span 必須
          = f.select :category_L do
            %option ----
            %option レディース
            %option メンズ
            %option ベビー・キッズ
            %option インテリア・住まい・小物
            %option 本・音楽・ゲーム
            %option おもちゃ・ホビー・グッズ
            %option コスメ・香水・美容
            %option 家電・スマホ・カメラ
            %option スポーツ・レジャー
            %option ハンドメイド
            %option チケット
            %option 自転車・オートバイ
            %option その他
          カテゴリーM
          %span 必須
          = f.text_field :category_M
          カテゴリーS
          %span 必須
          = f.text_field :category_S
          商品の状態
          %span 必須
          = f.select :status do
            %option ----
            %option 新品、未使用
            %option 未使用に近い
            %option 目立った傷や汚れなし
            %option やや傷や汚れあり
            %option 傷や汚れあり
            %option 全体的に状態が悪い
      .products-new__contents__delivery.section.flex
        .products-new__contents__delivery.left
          %h4 配送について
        .products-new__contents__delivery.right
          配送料の負担
          %span 必須
          = f.select :s_charge do
            %option ----
            %option 送料込み（出品者負担）
            %option 着払い（購入者負担）
          配送の方法
          %span 必須
          = f.select :s_method do
            %option ----
            %option 未定
            %option クロネコヤマト
            %option ゆうパック
            %option ゆうメール
          発送元の地域
          %span 必須
          = f.select :s_prefecture do
            %option ----
            %option 北海道
            %option 青森県
            %option 岩手県
            %option 宮城県
            %option 秋田県
            %option 山形県
            %option 福島県
            %option 東京都
            %option 神奈川県
            %option 埼玉県
            %option 千葉県
            %option 茨城県
            %option 栃木県
            %option 群馬県
            %option 山梨県
            %option 新潟県
            %option 長野県
            %option 富山県
            %option 石川県
            %option 福井県
            %option 愛知県
            %option 岐阜県
            %option 静岡県
            %option 三重県
            %option 大阪府
            %option 兵庫県
            %option 京都府
            %option 滋賀県
            %option 奈良県
            %option 和歌山県
            %option 鳥取県
            %option 島根県
            %option 岡山県
            %option 広島県
            %option 山口県
            %option 徳島県
            %option 香川県
            %option 愛媛県
            %option 高知県
            %option 福岡県
            %option 佐賀県
            %option 長崎県
            %option 熊本県
            %option 大分県
            %option 宮城県
            %option 鹿児島県
            %option 沖縄県
          発送までの日数
          %span 必須
          = f.select :s_date do
            %option ----
            %option 1~2日で発送
            %option 2~3日で発送
            %option 4~7日で発送
      .products-new__contents__price.section.flex
        .products-new__contents__price.left
          %h4 販売価格(300〜9,999,999)
        .products-new__contents__price.right
          %ul
            %li.flex
              .left 
                価格
                %span 必須
              .right 
                = f.number_field :price
            %li 販売手数料(10%)
            %li 販売利益
      .products-new__contents__other.section
        %p
          = link_to '#' do
            禁止されている出品
          、
          = link_to '#' do
            行為
          を必ずご確認ください。
        %p 
          またブランド品でシリアルナンバー等がある場合はご記載ください。
          = link_to '#' do
            偽ブランドの販売
          は犯罪であり処罰される可能性があります。
        %p 
          また、出品をもちまして
          = link_to '#' do 
            加盟店規約
          に同意したことになります。
        = f.submit '出品する' 
        = link_to '#' ,class: "back-btn" do
          もどる
  .products-new__footer
    .products-new__footer__list
      %ul
        %li プライバシーポリシー
        %li メルカリ利用規約
        %li 特定商取引に関する表記
    .products-new__footer__logo
      = image_tag "logo_gray.svg"
    .products-new__footer__copyright
      %p © 66期 team A