.products__new
  .products__new__logo
    = image_tag "fmarket_logo_red.svg"
  .products__new__form
    = form_for @product  do |f|
      .products__new__form__title
        %h2 商品の情報を入力
      .products__new__form__image
        %h3 
          商品画像
          %span 必須
        = f.fields_for :images do |i|
          = i.file_field :image
        %p 最大10枚までアップロードできます
        .products__new__form__image__file
          %input
          %p.row1 ドラッグアンドドロップ
          %p.row2 またはクリックしてファイルをダウンロード
      .products__new__form__basic
        .products__new__form__basic__name
          %label 
            商品名
            %span 必須
          .form
            = f.text_field :name, placeholder: "商品名（必須40文字まで）"
        .products__new__form__basic__text
          %label 
            商品の説明
            %span 必須
          .form
            = f.text_field :content, type: "text", rows: "5", placeholder: "商品の説明（必須1,000文字以内）（色、素材、重さ、定価、注意点など）　例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。合わせやすいのでおすすめです。"
      .products__new__form__details
        .products__new__form__details__left
          %h3 商品の詳細
        .products__new__form__details__right
          %label 
            カテゴリーL
            %span 必須
          = f.text_field :category_L
          %label 
            カテゴリーM
            %span 必須
          = f.text_field :category_M
          %label 
            カテゴリーS
            %span 必須
          = f.text_field :category_S
          %label 
            商品の状態
            %span 必須
          = f.text_field :status
      .products__new__form__delivery
        .products__new__form__delivery__left
          %h3 
            配送について
            = link_to '#',{class: "question"} do
              = icon('fas', 'question-circle')
        .products__new__form__delivery__right
          %label 
            配送料の負担
            %span 必須
          = f.select :s_charge do
            %option ----
            %option 送料込み（出品者負担）
            %option 着払い（購入者負担）

          %label 
            配送の方法
            %span 必須
          = f.select :s_method do
            %option ----
            %option 未定
            %option クロネコヤマト
            %option ゆうパック
            %option ゆうメール
          %label 
            発送元の地域
            %span 必須
          = f.select :s_prefecture do
            %option ----
            %option{value:"1"} 北海道
            %option{value:"2"} 青森県
            %option{value:"3"} 岩手県
            %option{value:"4"} 宮城県
            %option{value:"5"} 秋田県
            %option{value:"6"} 山形県
            %option{value:"7"} 福島県
            %option{value:"8"} 東京都
            %option{value:"9"} 神奈川県
            %option{value:"10"} 埼玉県
            %option{value:"11"} 千葉県
            %option{value:"12"} 茨城県
            %option{value:"13"} 栃木県
            %option{value:"14"} 群馬県
            %option{value:"15"} 山梨県
            %option{value:"16"} 新潟県
            %option{value:"17"} 長野県
            %option{value:"18"} 富山県
            %option{value:"19"} 石川県
            %option{value:"20"} 福井県
            %option{value:"21"} 愛知県
            %option{value:"22"} 岐阜県
            %option{value:"23"} 静岡県
            %option{value:"24"} 三重県
            %option{value:"25"} 大阪府
            %option{value:"26"} 兵庫県
            %option{value:"27"} 京都府
            %option{value:"28"} 滋賀県
            %option{value:"29"} 奈良県
            %option{value:"30"} 和歌山県
            %option{value:"31"} 鳥取県
            %option{value:"32"} 島根県
            %option{value:"33"} 岡山県
            %option{value:"34"} 広島県
            %option{value:"35"} 山口県
            %option{value:"36"} 徳島県
            %option{value:"37"} 香川県
            %option{value:"38"} 愛媛県
            %option{value:"39"} 高知県
            %option{value:"40"} 福岡県
            %option{value:"41"} 佐賀県
            %option{value:"42"} 長崎県
            %option{value:"43"} 熊本県
            %option{value:"44"} 大分県
            %option{value:"45"} 宮城県
            %option{value:"46"} 鹿児島県
            %option{value:"47"} 沖縄県
          %label 
            発送までの日数
            %span 必須
          = f.select :s_date do
            %option ----
            %option 1~2日で発送
            %option 2~3日で発送
            %option 4~7日で発送
      .products__new__form__price
        .products__new__form__price__left
          %h3 
            販売価格
            = link_to '#',{class: "question"} do
              = icon('fas', 'question-circle')
        .products__new__form__price__right
          %ul
            %li
              .flex
                %label 
                  価格
                  %span 必須
                = f.text_field :price
                .en ¥
            %li
              .flex
                .text 販売手数料 (10%)
                %p -
            %li
              .flex
                .text 販売利益
                %p -
      .products__new__form__other
        %p
          = link_to '#' do
            禁止されている出品
          、
          = link_to '#' do
            行為
          を必ずご確認ください。
        %p 
          またブランド品でシリアルナンバー等がある場合はご記載ください。
          = link_to '#' do
            偽ブランドの販売
          は犯罪であり処罰される可能性があります。
        %p 
          また、出品をもちまして
          = link_to '#' do 
            加盟店規約
          に同意したことになります。
        = f.submit '出品する' 
        = link_to '#' ,{class: "back-btn"} do
          戻る
    .products__new__bottom
      %ul
        %li プライバシーポリシー
        %li メルカリ利用規約
        %li 特定商取引に関する表記
      .products__new__bottom__logo
        = image_tag "logo_gray.svg"
      .products__new__bottom__copyright
        %p © 66期 team A