.products__new
  .products__new__logo
    = image_tag "fmarket_logo_red.svg"
  .products__new__form
    -# = form_for @product do |f|
    .products__new__form__title
      %h2 商品の情報を入力
    .products__new__form__image
      %h3 
        商品画像
        %span 必須
      %p 最大10枚までアップロードできます
      .products__new__form__image__file
        %input
        %p.row1 ドラッグアンドドロップ
        %p.row2 またはクリックしてファイルをダウンロード


    .products__new__form__basic
      .products__new__form__basic__name
        %label 
          商品名
          %span 必須
        .form
          -# %input{ placeholder: "商品名（必須40文字まで）"}

      .products__new__form__basic__text
        %label 
          商品の説明
          %span 必須
        .form
          %textarea{ type: "text",rows: "5", placeholder: "商品の説明（必須1,000文字以内）（色、素材、重さ、定価、注意点など）　例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。合わせやすいのでおすすめです。"}
    .products__new__form__details
      .left
        %h3 商品の詳細
      .right
        %label 
          カテゴリー
          %span 必須
        .right__form
          %select
        %label 
          商品の状態
          %span 必須

    .products__new__form__delivery
      %h3 配送について
      = link_to '#',{class: "question"} do
        ?
    .products__new__form__price
      %h3 販売価格
      = link_to '#',{class: "question"} do
        ?
    .products__new__form__other
      %p
        = link_to '#' do
          禁止されている出品
        、
        = link_to '#' do
          行為
        を必ずご確認ください。
      %p 
        またブランド品でシリアルナンバー等がある場合はご記載ください。
        = link_to '#' do
          偽ブランドの販売
        は犯罪であり処罰される可能性があります。
      %p 
        また、出品をもちまして
        = link_to '#' do 
          加盟店規約
        に同意したことになります。

      %button 出品する
      = link_to '#' ,{class: "back-btn"} do
        戻る
  .products__new__bottom
    %ul
      %li プライバシーポリシー
      %li メルカリ利用規約
      %li 特定商取引に関する表記
    .products__new__bottom__logo
      = image_tag "logo_gray.svg"
    .products__new__bottom__copyright
      %p © 66期 team A

    
    

