.show
  .show__item
    .show__item__name
      -# 最新作COACHショルダーバッグ新品花柄フラワー(商品名表示)
      = product.name
    .show__item__detail
      .show__item__detail__photo
        -# = image_tag "coach.jpg", size: "300x300", alt: "商品１"
        = image.image
      %table.show__item__detail__table{:border => "1",}
        %tr
          %th.show__item__detail__table__a 
            出品者
          %td.show__item__detail__table__b
            -# mu☆mu
            = product.user
            %br/
            %i.fas.fa-smile
            %span.show__item__detail__table__smile
              670
            %i.fas.fa-smile
            %span.show__item__detail__table__normal
              6
            %i.fas.fa-smile
            %span.show__item__detail__table__bad
              1
        %tr.a
          %th.show__item__detail__table__a
            カテゴリー
          %td.show__item__detail__table__b
            -# レディス
            = @category.category_L
            %br/
            %span.show__item__detail__table__smile
              -# >バック
              = @category.category_M
            %br/
            %span.show__item__detail__table__smile
              -# >ショルダーバッグ
              = @category.category_S
        %tr
          %th.show__item__detail__table__a
            ブランド
          %td.show__item__detail__table__b
            コーチ
        %tr
          %th.show__item__detail__table__a
            商品の状態
          %td.show__item__detail__table__c
            傷や汚れあり
        %tr
          %th.show__item__detail__table__a
            配送料の負担
          %td.show__item__detail__table__c
            送料込み（出品者負担）
        %tr
          %th.show__item__detail__table__a
            配送の方法
          %td.show__item__detail__table__c
            ゆうゆうメルカリ便
        %tr
          %th.show__item__detail__table__a
            配送元地域
          %td.show__item__detail__table__b
            沖縄県
        %tr
          %th.show__item__detail__table__a
            発送日の目安
          %td.show__item__detail__table__c
            ４〜７日で発送
        %tr
    .show__item__buy
      .show__item__buy__price
        .show__item__buy__price__title
          = product.price
          -# ¥25,000   
        .show__item__buy__price__detail
          (税込)送料込み
      .show__item__buy__bottom
        購入画面に進む
      .show__item__buy__content
        %p 商品はゆうゆうメルカリ便を利用しているため、アプリからのみ購入できます。
      .show__item__buy__notes
        = product.content
        -# %p COACH/コーチ   ショート丈ショルダーバッグ
        -# %p 10年前程に購入使用していたものですが
        -# %p 使用しなくなって自宅保管していました。
        -# %p ☆全体的に使用感あり理解のある方宜しく
        -# %p お願い致します。(※汚れ、傷あり写真掲載）
        -# %p 離島からの発送にて天候や地域により
        -# %p 到着までに多少のお時間を要することも
        -# %p 加えた上でご理解頂ける方のご購入
        -# %p 宜しくお願い致します。m(_ _)m
      .show__item__buy__buttom
        .show__item__buy__buttom__goodbuttom
          %i.far.fa-heart
          %span いいね!
          %span 0
        .show__item__buy__buttom__repoprt
          %i.fas.fa-flag
          %span 不適切な商品の報告
        .show__item__buy__buttom__security
          %p あんしん・あんぜんへの取り組み
    .show__item__comment
      .show__item__comment__content
        %p 相手のことを考え丁寧なコメントを心がけましょう。
        %p 不快な言葉遣いなどは利用制限や退会処分となることがあります。
      .show__item__comment__box
        = form_for @comment do |form|
          %h3
            投稿する
          = form.text_area :content, class:"form"
          = form.submit "コメントする", class:"bottom"
        -# コメントする
    .show__item__sns
      %i.fab.fa-facebook-square
      %i.fab.fa-twitter-square
      %i.fab.fa-pinterest-square