!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FreeMarkertApp
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
  
    -# =render "users/new-user-top"
    -# -# =render "users/signin"
    -# =render "users/session1"
    -# =render "users/session2"
    -# =render "users/session3"
    -# =render "users/session4"
    -# =render "users/session5"
    = render 'shared/header'
    = render 'shared/exhibition-btn'
    = yield
    -# = render 'shared/footer'
