.signin
  .signin__box
    .signin__box__section
      %p アカウントをお持ちでない方はこちら
      .btn.registration
        = link_to new_user_registration_path do
          新規会員登録
    .signin__box__section
      .btn.facebook
        = link_to '#' do
          Facebookでログイン
        = icon('fab', 'facebook-square')
      .btn.google
        = link_to '#',class:'b' do
          Googleでログイン
        = icon('fab', 'google')
      %input{ placeholder: "メールアドレス" }
      %input{ placeholder: "パスワード" }
      .robbot
      .btn.log_in
        = link_to '#' do
          ログイン
      %p.blue パスワードをお忘れの方